.footer {
  margin-top: 1rem !important;
}

.footer ul li {
  list-style: none !important;
}

.copyright {
  text-align: left !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
}

.copyright-logo {
  height: 30px; 
  display: block !important;
  margin-right: 4.5rem;
}

@media only screen and (max-width: 767px) {
  .footer-li {
    display: flex !important;
    flex-direction: column !important;
  }
}
